body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
.product-list h2 {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}